.title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.mat-icon{
    font-size: 35px !important;
    width: 35px !important;
    height: 35px !important;
}
mat-toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.home {
    cursor: pointer;
    font-size: 30px;
}
