.signin-form {
    display: grid;
}

.example-full-width {
    width: 370px
}

.sign-up-link {
    margin-left: 8px;
}

.btn-login {
    width: 314px;
    font-size: 18px;
}

.mdc-dialog__actions {
    display: grid;
    justify-content: center;
    padding-bottom: 26px;
}

.mdc-dialog__content {
    padding: 16px;
}

.margin-top {
    margin-top: 16px !important;
}